.videosContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.videosContainer .videoContainer{
    position: relative;
    margin: 50px 25px;
    box-shadow: rgba(245, 245, 245, 0.19) 10px 10px 5px;
}
.videosContainer .videoContainer:hover{
    cursor:url('../../../public/icons/hover-cursor.png'), auto;
}

.videosContainer .youtubeVideo{
    position: relative;
}
.videosContainer .videoContainer .youtubeVideo iframe:hover{
    cursor:url('../../../public/icons/hover-cursor.png'), auto;
}
.videosContainer .fallbackVideo{
    position: relative;
}
.videosContainer .fallbackVideo .videoTitle{
    position: absolute;
    top: 0;
    left: 10px;
}
.videosContainer .fallbackVideo .playIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media(max-width: 500px){
    .videosContainer .videoContainer{
        margin: 25px 0;
    }
    .videosContainer .videoContainer .youtubeVideo{
        position: relative;
        width: 350px!important;
        height: 250px!important;
    }
    .videosContainer .videoContainer .youtubeVideo iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .videosContainer .fallbackVideo .videoTitle{
        position: absolute;
        top: -15px;
        left: 10px;
    }
    .videosContainer .fallbackVideo .thumbnail{
        width: 350px!important;
        height: 250px!important;
    }
}