html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  cursor:url(../../public/icons/cursor-icon.png), auto;
  margin: 0;
  position: relative;
  color: #ffffff;
}
body main{
  margin: 0 0 150px 0 !important;
}
body .intro-container{
  opacity: 1;
  position: fixed;
  Z-index: 1;
}
body .intro-container.fade{
  opacity: 0;
  transition: 700ms all ease-in;
}
body .intro-container .intro-video video{
  width: 100vw!important;
  height: 100vh!important;
  object-fit: cover;
}
body .intro-container.fade.none{
  display: none;
}
body .fadeIn{
  opacity: 0.2;
  animation: .75s fadingIn ease-in forwards;
  margin-bottom: 15px;
}
body .fadeIn .bg-video::before{
  content: '';
  background-color: rgb(14 14 14 / 75%);
  position: absolute;
  width: 100vw;
  height: 100vh;
}
body .bg-video{
  position: fixed;
  Z-index: -1;
}
body .bg-video video{
  width: 100vw!important;
  height: 100vh!important;
  object-fit: cover;
}



@keyframes fadingIn{
  0%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}