.homeContainer{
  margin: 0 auto;
  display: block;
  text-align: center;
}
.homeContainer .albumContainer{
  display: flex;
  justify-content: center;
  position: relative;
}
.homeContainer .albumContainer .front, .homeContainer .albumContainer .back{
  display: block;
  position: relative;
  transition: 0.25s all ease-in;
  z-index: 1;
}
.homeContainer .albumContainer .front:hover, .homeContainer .albumContainer .back:hover{
  cursor:url('../../public/icons/hover-cursor.png'), auto;
}
.homeContainer .albumContainer .frontActive, .homeContainer .albumContainer .backActive{
  transform: scale(2);
  z-index: 3;
  transition: 0.25s all ease-in;
}
.homeContainer .albumContainer .frontActive:hover, .homeContainer .albumContainer .backActive:hover{
  cursor:url('../../public/icons/hover-cursor.png'), auto;
}
.homeContainer .albumContainer img{
  margin: 0 25px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.6), 0 0px 26px rgba(255,255,255,255.14);
}
.homeContainer .videoContainer{
  margin: 50px auto 25px;
  border: 3px solid rgba(245, 245, 245, 0.5);
  box-shadow: rgba(245, 245, 245, 0.19) 10px 10px 5px;
}
@media(max-width: 800px){
  .homeContainer .albumContainer img{
    width: 200px!important;
    height: 200px!important;
  }
  .homeContainer .videoContainer{
    width: 500px!important;
    height: 280px!important;
  }
}
@media(max-width: 600px){
  .homeContainer .albumContainer img{
    width: 150px!important;
    height: 150px!important;
  }
  .homeContainer .videoContainer{
    width: 350px!important;
    height: 200px!important;
  }
  .homeContainer .albumContainer .frontActive{
    transform: scale(2) translate(25%, 25%);
  }
  .homeContainer .albumContainer .backActive{
    transform: scale(2) translate(-25%, 25%);
  }
}