.homeContainer{
  margin: 0 auto;
  display: block;
  text-align: center;
}
.homeContainer .albumContainer{
  display: flex;
  justify-content: center;
}
.homeContainer .albumContainer img{
  margin: 0 25px;
}