.albumsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.albumsContainer .albumContainer{
    margin: 50px 25px;
}
.albumsContainer .albumContainer .albumLink{
    display: flex;
    flex-direction: column;
}
.albumsContainer .albumContainer .albumLink:hover{
    cursor:url('../../../public/icons/hover-cursor.png'), auto;
}
.albumsContainer .albumContainer .albumLink img{
    border: 1px solid #ffffff;
    box-shadow: rgba(245, 245, 245, 0.19) 10px 10px 5px;
}
.albumsContainer .albumContainer .albumLink span{
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}
.albumsContainer .albumContainer .albumLink:hover span{
    text-decoration: underline;
    text-underline-offset: 0.25em;
}
@media(max-width: 500px){
    .albumsContainer .albumContainer{
        margin: 25px 10px;
    }
}